.layout-container {
  height: 100%;
}

.conatiner {
  height: 100%;
}

.el-container {
  height: 100%;
}

.el-menu {
  height: 100%;
}

.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
  padding-top:20px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.drug-aside-menu{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
  border-radius:5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.drug-aside-menu .el-menu-item{
  padding-left:52px!important;
}

.el-aside{
  background-color: #fff;
}
.logo{
  text-align: left;
  color:#fff;
  font-size:24px;
  font-weight:600;
  margin-left:50px;
  letter-spacing: 3px;
}

.logo img{
  width:40px;
  vertical-align: middle;
}

.el-header{
  background-color: #0A70C0;
}

.el-main{
  background-color: #fff!important;
  line-height: normal;
}
.header-right>div{
  display: inline-block;
  padding:0 10px;
  color:#fff;
  font-size:16px;
}
.header-right>div img{
  width:18px;
  vertical-align: middle;
  margin-right:5px;
}

.router-title {
  width: 100%;
  height: 40px;
  line-height: normal;
  text-align: left;
  font-size:0;
  border-bottom:1px solid #ccc;
}

.router-title span{
  display:inline-block;
  padding: 0 10px;
  border:1px solid #ccc;
  border-bottom:none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right:8px;
  font-size:16px;
  background-color:#f8f8f8;
  line-height:38px;
  cursor: pointer;
}

.router-title span i{
  margin-left:5px;
  display:none;
  color:#333;
}
.router-title span.active{
  background-color:#fff;
  color:#409EFF;
  line-height:40px;
}

.router-title span.active i{
  display: inline-block;
}

.list-normal{
  margin:20px 0;
  background-color:#f8f8f8;
  border:1px solid #ccc;
  border-radius:5px;
  padding:20px;
}

.el-form-item{
  margin-bottom:10px;
}

.list-normal-btn-group .el-input__inner {
  background-color: transparent;
}

.list-normal-btn-group .el-form-item__content{
  margin-left:0!important;
}

.list-normal-btn-group .el-form-item{
  display: inline-block;
  margin-right:10px;
}

.list-normal-btn-group .el-button{
  background-color: transparent;
}



